p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 55px;
  padding-left: 240px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}

body.sidebar-closed {
    padding-left: 72px;
}