.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 240px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 30px;
  box-sizing: border-box;
  width: 100%;
  color: black;
  stroke: none;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-right: 24px;
}

.sidebar-link div {
  font-size: 14px;
}

.subscribed-channels {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
  font-size: 10px;
}

.channel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.channel .profile-picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.channel .video-info {
  font-size: 12px;
  color: black;
}

.hidden-channels {
  display: none;
}

.show-more-button {
  cursor: pointer;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
}

.show-more-button:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar.sidebar-closed {
    width: 72px;
}

.sidebar.sidebar-closed .sidebar-link div {
    display: none;
}

.sidebar.sidebar-closed .subscribed-channels {
    display: none;
}